<h1>Clientes</h1>
<hr>
<a class="btn btn-primary" href="./clientes/novo">Novo</a>
<table class="table" id="clientes">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Sexo</th>
            <th>Telefone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each fakeData}}
        <tr>
            {{!-- {{#each this}}
                <td>{{this}}</td>
            {{/each}} --}}
            <td>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.endereco}}</td>
            <td>{{this.sexo}}</td>
            <td>{{this.telefone}}</td>
            <td><a class="btn btn-primary" href="./clientes/alterar/{{this.id}}">Alterar</a></td>
            <td><button class="btn btn-danger js-delete" data-id="{{this.id}}">Excluir</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- modal --}}
<div class="modal" tabindex="-1" id="meumodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Excluir Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Está certo disso?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btncancelar">Não</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/public/site.js"></script>